.propiedadesContain{
    padding: 130px 3%;
}

.gridContain{
 
    display: grid;
    grid-template-areas:  "filtrosUbicacion cardsContain ";
   
    align-items: start; 
    gap: 3rem;
   
  }

.cardsContain{

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    

}
.card{
    width: 40vh;
    overflow: hidden;
    border-radius: 10px;
    border: 0.3px solid #00000037;
}
.cardText{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 20px;
}
.cardText h3{
    color: var(--text-color);
    font-size: 16px;
}
.cardText p{
    color: var(--text-color2);
    font-size: 14px;
}
.cardText h4{
    color: var(--color1);
    font-size: 14px;
}
.card img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.noresult{
    color: var(--text-color2);
  
   margin-top: 3rem;
   margin-right: 40vh;
}

.inputFiltro{
    background-color: transparent!important;
    border-radius: 10px;
    border: none;
    padding: 5px 20px;
    width: 50vh;
    color: var(--text-color2);
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    border: 0.3px solid #00000037;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.filtros{
    border-radius: 10px;
    border: 0.3px solid #00000037;
    display: flex;
    flex-direction: column;
    width: 50vh;
    gap: 1rem;
    padding: 10px;
    margin-bottom: 2rem;
}
.filtros h3{
    color: var(--text-color2);
}
.deFlexInput{
    display: flex;
    gap: 10px;
    cursor: pointer;
   

}

.moreBtn button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    margin-top: 4rem;
   
}
.deColumns{
    display: flex;
    flex-direction: column;
   
    align-items: center;
}
@media (max-width: 1524px){
    .card{
        width: 40vh;
      
    }

    .gridContain{
 
     
        gap: 2rem;
       
      }
      
    
}
@media (max-width:1024px){
    .card{
        width: 30vh;
      
    }
    .card img{
        height: 20vh;
    }

    .gridContain{
 
     
        gap: 2rem;
       
      }

     
    
}

@media (max-width: 920px){
    .filtros{
        width: 35vh;
      }
      .inputFiltro{
        width: 35vh;
      }
      .noresult{
    
      
         margin: 0;
    
    
    }

}
@media (max-width: 550px){
    .gridContain{
       
         display: flex;
        flex-direction: column;
        
    }

    .deColumns{
        align-items: center;
        justify-content: center;
        padding: 0px 6%;
    }

    .filtros{
        width: 100%;
      }
      .inputFiltro{
        width: 100%;
      }

      .card{
        width: 100%;
      
    }
    .card img{
        height: 25vh;
    }
    

}