.search-container {
    position: relative;
   
    width: 100%;
  }
  
  .modal {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    background-color: var( --gris);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    padding: 10px;
    z-index: 9999;
    max-height: 30vh;
    overflow-y:scroll;
    border-radius: 7px ;
    transition: all .40s ease;
    margin-top: 10px;
}
 
  .modal h2 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .modal p {
    display: block;
  
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0px;
    color: var(--text-color2)!important;
  }
  
  .inputSearch{
    background-color: var(  --gris)!important;
   
    border-radius: 20px;
    border: 0.3px solid #00000037;
    padding: 5px 10px;
    width: 25em;
    color: var(--text-color2);
    display: flex;
    gap: 10px;
    align-items: center;

  }
  .input{
    width: 90%;
    height: 100%;
    padding: 6px 6px;
    background-color: transparent;
    border: none;
  }
  .modal a{
    text-decoration: none;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding: 10px 10px;
    color: var(--color1);
  }
  .modal a:hover p{

    color: var(--blanco)!important;
 }
  .modal a:hover {
   background-color: var(--color1);
   border-radius: 7px;
   transition: 0.5s ease all;
   color: var(--blanco)!important;
  
}
  .modal button{
    background-color: transparent;
    border: none;
  
}
.search-icon{
  background-color: var(--color1);
  color: var(--blanco);
  padding: 8px;
  font-size: 14px;
  border-radius: 100%;
}

 
  .modal::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    cursor: pointer;
 }
 
 .modal::-webkit-scrollbar-thumb{
     background-color: var(--color1);
     width: 10px;
     border-radius:20px ;
     cursor: pointer;
 }



 @media (max-width: 1024px){
  .modal p {
    font-size: 13px;
  }
  .modal a{
    
    gap: 10px;
    padding: 0px;

  }
    .inputSearch{
       
       
     
        width: 16vh;
        
      }
 }
 @media (max-width: 1200px){
    .inputSearch{
      width: 30vh!important;
      
      }
     
 }


@media (max-width: 510px){
  .inputSearch{
      width: 100%!important;
   
    }
   
}

