.developerContain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.developerLink{
    color: blue;  
    text-decoration: none;
    font-weight: bold;
}

.developerLink:hover{
    scale: 1.1;
}